<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Realtime Price Update</title>
</head>
<body>
    <div id="price-log"></div><br/>
    <input id="price-message-submit" type="button" value="Send"/>
</body>
<script>

    var priceSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/price/');

    priceSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var price = data['price'];
        document.querySelector('#price-log').innerHTML += (price + '\n');
    };

    priceSocket.onclose = function(e) {
        console.error('Price socket closed unexpectedly');
    };

    document.querySelector('#price-message-submit').click();

    document.querySelector('#price-message-submit').onclick = function(e) {
        priceSocket.send(JSON.stringify({
            'price': 'dont send it'
        }));

    };
</script>
</html>